# Ignorar a pasta com prompts e diretrizes dos agentes
.agents/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Infra
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Env vars
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
